<html>
  <head>
    <title>MapServer 4.6 Tutorial</title>
    <link href="/tutorial/ms35.css" rel="stylesheet" type="text/css">
  </head>
  <body bgcolor="#ffffff">
    <h3>Query Results Page</h3>
    <table width="680" border="0" bgcolor="c0c0c0">
      <tr>
        <td><b>Search Window</b>:</td>
        <td>[imgext]<br></td>
      </tr>
      <tr>
        <td><b>Query Point</b>:</td>
        <td>[img.x], [img.y] (Image coordinates)<br>
            [mapx], [mapy] (Map coordinates)
        </td>
      </tr>
      <tr>
        <td><b>Query Metrics</b>:</td>
        <td>Number of layers with results=[nl]<br>
            Total number of results=[nr]
        </td>
      </tr>
    </table>
    <p align="left">&nbsp;</p>
