{% extends "!layout.html" %}



{% block relbar1 %}

<div style="padding: 10px 10px 15px 15px; background-color: white; text-align: right; float: right; vertical-align: bottom;">
<a href="{{ pathto('documentation') }}" title="Docs">Docs</a> <a href="/MapServer.pdf"><img src="{{ pathto("_static/pdf.png", 1)}}" alt="PDF icon"/></a> |
<a href="http://mapserver.osgeo.org/download.html#development-source" title="Source">Source</a> |
<a href="http://trac.osgeo.org/mapserver" title="Bugs">Bugs</a> |
<a href="{{ pathto('download') }}" title="Download">Download </a>
</div>

<div style="padding: 10px 10px 15px 15px; background-color: white; text-align: left">
<a href="{{ pathto('index') }}">
    <img src="{{ pathto("_static/mapserver.jpg", 1) }}" alt="MapServer logo" border="0" />
</a>
</div>

{{ super() }}
{% endblock %}



{# put the sidebar before the body #}
{% block sidebar1 %}{{ sidebar() }}{% endblock %}
{% block sidebar2 %}{% endblock %}
