{% extends "!layout.html" %}



{% block relbar1 %}

<div style="padding: 10px 10px 15px 15px; background-color: white; text-align: right; float: right; vertical-align: bottom;">
  <a href="{{ pathto('index') }}" title="Home">Home</a> |
  <a href="{{ pathto('documentation') }}" title="Docs">Docs</a> |
  <a href="http://trac.osgeo.org/mapserver" title="Issue Tracker">Issue Tracker</a> |
  <a href="{{ pathto('faq') }}" title="FAQ">FAQ</a> |
  <a href="{{ pathto('download') }}" title="Download">Download </a>
</div>

<div style="padding: 10px 10px 15px 15px; background-color: white; text-align: left">
  <a href="{{ pathto('index') }}" title="Home"><img src="{{ pathto("_static/mapserver.jpg", 1) }}" alt="MapServer logo" border="0" /></a>
</div>


{{ super() }}
{% endblock %}

    {% block sidebartoc %}
<div >
    {%- for lng in languages.split(' ') %}
    {%- if lng == language %}
      <img src="{{ pathto("_static/flagicons/"+lng+".png", 1) }}" alt="{{ lng }}" title="{{ lng }}" border="0" width="18px" height="13px"/>
    {%- else %}
{# just a hack to keep the current url for English docs; they start at www.mapserver.org/ instead of www.mapserver.org/<lng> #}
      {% if target == 'mapserverorg' %}
        {% if lng == 'en' %}
        <a href="{{pathto("../../"+pagename)}}"><img src="{{ pathto("_static/flagicons/"+lng+".png", 1) }}" alt="{{ lng }}" title="{{ lng }}" border="0" /></a>
        {% else %}
        <a href="{{pathto("../../"+lng+"/"+pagename)}}"><img src="{{ pathto("_static/flagicons/"+lng+".png", 1) }}" alt="{{ lng }}" title="{{ lng }}" border="0" /></a>
        {% endif %}
      {% else %}
        <a href="{{pathto("../../trunk/"+lng+"/"+pagename)}}"><img src="{{ pathto("_static/flagicons/"+lng+".png", 1) }}" alt="{{ lng }}" title="{{ lng }}" border="0" /></a>
      {% endif %}
    {%- endif %}
    {%- endfor %}
</div>
    {{ super() }}
    {% endblock %}

{# put the sidebar before the body #}
{% block sidebar1 %}{{ sidebar() }}{% endblock %}
{% block sidebar2 %}{% endblock %}
