{% extends "!layout.html" %}



{% block relbar1 %}

<div style="padding: 10px 10px 15px 15px; background-color: white; text-align: right; float: right; vertical-align: bottom;">
<a href="http://svn.osgeo.org/mapserver">Source</a> |
<a href="http://trac.osgeo.org/mapserver">Bugs</a> |
<a href="{{ pathto('documentation') }}">Docs</a> (<a href="/MapServer.pdf">pdf</a>) |
<a href="{{ pathto('download') }}">Download </a>
</div>

<div style="padding: 10px 10px 15px 15px; background-color: white; text-align: left">
<a href="{{ pathto('index') }}">
    <img src="{{ pathto("_static/mapserver.jpg", 1) }}" alt="MapServer logo" border=0 />
</a>
</div>

{{ super() }}
{% endblock %}



{# put the sidebar before the body #}
{% block sidebar1 %}{{ sidebar() }}{% endblock %}
{% block sidebar2 %}{% endblock %}
