BODY { font-family: Georgia; font-size: 10pt; margin-left: 10px; margin-right: 10px; margin-top: 5px; margin-bottom: 5px }
H1 { font-family: Georgia, serif; font-size: 28pt; color: rgb(128,0,0) }
H2 { font-family: Georgia, serif; font-size: 24pt }
H3 { font-family: Georgia, serif; font-size: 18pt }
H4 { font-family: Georgia, serif; font-size: 16pt }
H5 { font-family: Georgia, serif; font-size: 14pt }
H6 { font-family: Georgia, serif; font-size: 12pt }
P { font-family: Georgia, serif; font-size: 10pt }
.Indent { text-indent: 20px }
.Teal { color: rgb(0,128,128) }
.Maroon {color: rgb(128,0,0) }
.Small { font-size: 8pt }
I, EM, ADDRESS { font-family: Georgia, serif }
B, STRONG { font-family: Georgia, serif }
TD, TR { font-family: Georgia, serif; font-size: 10pt }
TH { font-family: Georgia, serif; font-size: 12pt; font-weight: bold }

